<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:#8ac5ce">
    <div style="background-color: #6cb8c3">
        @RenderBody()
    </div>
</body>
</html>
